@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url(~assets/fonts/Inter-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Inter';
    src: url(~assets/fonts/Inter-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Inter';
    src: url(~assets/fonts/Inter-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
  }
}

body {
  @apply bg-grayscale-3 font-inter text-grayscale-5 text-base leading-normal tracking-wide antialiased box-border;
}

*,
*::before,
*::after {
	@apply box-border m-0;
}

.h1 {
	@apply text-26 text-grayscale-7 font-medium leading-snug;
}

.h2 {
	@apply text-21 text-grayscale-7 font-medium leading-normal tracking-normal;
}

.h3 {
	@apply text-21 text-grayscale-7 font-medium leading-relaxed tracking-normal;
}

.h4 {
	@apply text-lg text-grayscale-7 font-medium leading-relaxed tracking-normal;
}

.headline {
	@apply text-lg text-grayscale-5 font-medium leading-loose uppercase;
}

.subhead {
	@apply text-xs font-medium leading-snug
}

.text-body-2 {
	@apply text-xs text-grayscale-5 leading-relaxed;
}

.callout {
	@apply text-sm text-grayscale-7 font-medium leading-normal;
}

#logo .mobile {
	@apply block;
}

#logo.not-responsive .mobile {
	@apply hidden;
}

#logo .desktop {
	@apply hidden;
}

#logo.not-responsive .desktop {
	@apply block;
}

.category-card:hover div {
	@apply bg-primary-2 text-grayscale-6 transition duration-300 ease-in-out;
}

.article-card:hover .callout-shape {
	@apply text-grayscale-1 transition duration-300 ease-in-out;
}

.article-card:hover .overlay {
	@apply opacity-25 transition duration-300 ease-in-out;
}

.label-floating input:focus-within ~ label,
.label-floating input:not(:placeholder-shown) ~ label {
	@apply transition ease-in-out duration-300 text-xs transform -translate-y-3
}

.label-floating input:focus-within ~ label {
	@apply text-primary-2;
}

.label-floating input:not(:placeholder-shown) ~ label {
	@apply text-primary-2;
}

.dark-mode .label-floating input:not(:placeholder-shown) ~ label {
	@apply text-primary-1;
}

@screen md {
	.h1 {
		@apply text-36 font-semibold;
	}
	.h2 {
		@apply text-24 font-semibold;
	}

	.text-body-2 {
		@apply text-sm;
	}

	.headline {
		@apply font-semibold;
	}

	.callout {
		@apply text-base;
	}

	#logo .mobile {
		@apply hidden;
	}

	#logo .desktop {
		@apply block;
	}
}

.dark-mode body {
  @apply bg-grayscale-8 text-grayscale-4;
}

.dark-mode .h1,
.dark-mode .h2,
.dark-mode .h3,
.dark-mode .h4,
.dark-mode .callout {
	@apply text-grayscale-2;
}

.dark-mode .text-body-2,
.dark-mode .headline {
	@apply text-grayscale-4
}

.dark-mode .category-card:hover div {
	@apply bg-primary-1;
}

.dark-mode .article-card:hover .callout-shape {
	@apply text-grayscale-6;
}
